{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class='container-fluid mb-5'>
    {% if informacion_cliente%}
    <div class='row align-items-center mt-4 mb-4'>
        <div class='col-md-10'><h1>Facturas del cliente N° {{request.session.numero_socio}}</h1></div>
        <div class='col-md-2'><a class="btn btn-outline-primary text-end" href="{% url 'logout' %}">Cerrar Sesión</a></div>
    </div>
    <div class="accordion" id="accordionExample">
        {% for item in informacion_cliente %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{item.4}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{item.4}}" aria-expanded="false" aria-controls="collapse{{item.4}}">
                    {{item.1}} {{item.0}}
                </button>
            </h2>
            <div id="collapse{{item.4}}" class="accordion-collapse collapse" aria-labelledby="heading{{item.4}}"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% with 'facturas/'|add:item.2|add:'/'|add:item.3 as pdf_static %}
                    <embed src="{% static pdf_static %}" type="application/pdf" width="100%" height="600px" />
                    {% endwith %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% else %}
    <div class='mt-4 mb-4'>
        <div class='row align-items-center mt-4 mb-4'>
            <div class='col-md-10'><h1>No se encuentran facturas en el sistema</h1></div>
            <div class='col-md-2'><a class="btn btn-outline-primary text-end" href="{% url 'logout' %}">Volver</a></div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}